@import '../../../styles/variables';
@import '../../../styles/mixins';

.button {
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  background-color: $primary-color;
  border: none;
  cursor: pointer;
  color: $light;
  font-family: $secondary-font;

  &:hover {
    opacity: 0.9;
  }

  .btn-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-100;
  }
  .btn-body {
    @include flexCenter('row');
    p {
      text-align: center;
      font-size: 098;
    }
  }
}
