@import '../../../styles/mixins';
@import '../../../styles/variables';

.card {
  background-color: $light;
  box-shadow: $shadow-primary;
  padding: 30px 20px;
  border-radius: 4px;
  border: 1px solid $grey-200;
}
