// className="text-left text-xs text-white font-semibold uppercase whitespace-nowrap py-5 px-5"
@import '../../../styles/mixins';
@import '../../../styles/variables';

.table__container {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-primary;
  font-family: $secondary-font;

  .table__main {
    overflow-x: auto;
    .table__cover {
      display: inline-block;
      width: 100%;
      .table {
        width: 100%;
        background-color: $light;
        overflow-x: scroll;
        position: relative;
        height: auto;
        border: none;
        padding: 20px;
        thead {
          tr {
            width: 100%;
            th {
              text-align: left;
              font-size: fontSize('xs');
              font-weight: fontWeight('semi-bold');
              text-transform: uppercase;
              padding: 20px;
              color: $accent;
            }
          }
        }
        tbody {
          tr {
            width: 100%;
            border-bottom: 1px solid black;
            td {
              text-align: left;
              font-size: fontSize('xs');
              font-weight: fontWeight('regular');
              white-space: nowrap;
              padding: 22px 20px;
              border-bottom: 1px solid rgba(33, 63, 125, 0.1);
              color: $accent;
            }
          }
        }
      }
    }
  }
}

.pagination__container {
  @include flexBetween('row');
  font-size: fontSize('xs');
  color: $secondary-color;
  padding: 40px;
  .pagination_body {
    @include flexBetween('row');
    width: 150px;
    .page {
      @include flexItem;
    }
    select {
      background-color: rgba(33, 63, 125, 0.1);
      color: $secondary-color;
      width: 72px;
      border: none;
      border-radius: 5px;
      padding: 7px 5px;
    }
  }
}

.table__head {
  @include flexItem;
  p {
    text-align: left;
    font-size: fontSize('xs');
    font-weight: fontWeight('semi-bold');
    text-transform: uppercase;
    color: $accent;
  }
  div {
    margin-left: 10px;
  }
}
