// className="text-left text-xs text-white font-semibold uppercase whitespace-nowrap py-5 px-5"
@import '../../../styles/mixins';
@import '../../../styles/variables';

.table__container {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-primary;
  .table__main {
    overflow-x: auto;
    .table__cover {
      display: inline-block;
      min-width: 100%;
      .table {
        min-width: 100%;
        background-color: $light;
        overflow-y: scroll;
        position: relative;
        height: auto;
        border: none;
        thead {
          tr {
            width: 100%;
            th {
              text-align: left;
              font-size: fontSize('xs');
              font-weight: fontWeight('semi-bold');
              text-transform: uppercase;
              padding: 20px;
              color: $accent;
            }
          }
        }
        tbody {
          tr {
            width: 100%;
            border-bottom: 1px solid black;
            td {
              text-align: left;
              font-size: fontSize('sm');
              font-weight: fontWeight('regular');
              white-space: nowrap;
              padding: 22px 20px;
              border-bottom: 1px solid rgba(33, 63, 125, 0.1);
              color: $accent;
            }
          }
        }
      }
    }
  }
}
