// <article className="flex flex-col border border-light-grey">
// <div className="overflow-x-auto sm:-mx-6 lg:-mx-8">
//   <div className=" inline-block min-w-full sm:px-6 lg:px-8">
//     <table className="min-w-full bg-white sm:px-6 lg:px-8 h-auto overflow-y-scroll relative">

@import '../../../styles/mixins';
@import '../../../styles/variables';

.table__container {
  display: flex;
  flex-direction: column;
  .table__main {
    overflow-x: auto;
    .table__cover {
      display: inline-block;
      min-width: 100%;
      .table {
        min-width: 100%;
        background-color: $light;
      }
    }
  }
}
