@import '../../../styles/mixins';
@import '../../../styles/variables.scss';

.header {
  @include grid(4, 1fr);
  padding: 32px 30px;
  box-shadow: $shadow-primary;
  background-color: $light;

  @include device('tablet') {
    display: none;
    padding: 32px;
  }

  .menu {
    @include flexItem;
    grid-column: span 1;
    .menu__btn {
      display: none;
      @include device('mobile') {
        display: block;
      }
    }
    .menu__logo {
      margin-left: 20px;
      display: block;

      @include device('mobile') {
        display: none;
      }
    }
  }

  .notification__container {
    @include flexItem;
    position: relative;
    cursor: pointer;
    grid-column: span 1;
    justify-self: flex-end;
  }

  .profile {
    @include flexItem;
    margin-left: 10px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .search_container {
    grid-column: span 2;
  }
}
