@import '../../../styles/mixins';
@import '../../../styles/variables';

.header {
  @include grid(4, 1fr);
  padding: 20px 30px;
  box-shadow: $shadow-primary;
  background-color: $light;
  position: fixed;
  width: 100%;
  z-index: 300;
  @include device($mini) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 15px;
  }
  .menu {
    @include flexItem;
    grid-column: span 1;
    .menu__btn {
      display: none;
      background-color: transparent;
      outline: none;
      border: none;
      div {
        height: 2px;
        width: 30px;
        background-color: $accent;
      }
      & > div:nth-child(1) {
        margin-bottom: 4px;
      }
      & > div:nth-child(2) {
        margin-bottom: 4px;
      }
      @include device($mini) {
        display: block;
      }
    }
    .menu__logo {
      margin-left: 20px;
      display: block;

      @include device($mini) {
        display: none;
      }
    }
  }

  .empty__layer {
    display: block;
    @include device($mini) {
      display: none;
    }
  }

  .notification__container {
    @include flexItem;
    position: relative;
    cursor: pointer;
    grid-column: span 1;
    justify-self: flex-end;
  }

  .profile {
    @include flexItem;
    margin-left: 10px;
  }

  .dropdown {
    margin-left: 10px;
  }

  .search_container {
    grid-column: span 2;

    @include device($mini) {
      grid-column: span 1;
    }
  }
}
