@import '../../../styles/mixins';
@import '../../../styles/variables';

.popover__item {
  @include flexItem;
  font-size: fontSize('sm');
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $tertiary-color;
  }
  div {
    margin-right: 10px;
  }
}
