@import '../../../styles/mixins';
@import '../../../styles/variables';

.dash__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  font-family: $secondary-font;
  padding: 20px;
  .dash__text {
    text-transform: uppercase;
    font-size: fontSize('sm');
    margin-bottom: 18px;
    margin-top: 14px;
  }

  .dash__value {
    font-size: fontSize('lg');
    font-weight: fontWeight('semi-bold');
    color: $secondary-color;
  }
}
