@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexBetween($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexAround($direction) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $direction;
}

@mixin grid($cols, $spacing) {
  display: grid;
  grid-template-columns: repeat($cols, $spacing);
}

@mixin device($screen) {
  @media (max-width: $screen) {
    @content;
  }
}
