@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;600;700;800;900&display=swap');

$primary-color: #39cdcc;
$secondary-color: #213f7d;
$tertiary-color: rgba(57, 205, 204, 0.06);
$grey-100: rgba(84, 95, 125, 0.15);
$secondary-font: 'Work Sans', sans-serif;

$font-weights: (
  'light': 300,
  'regular': 400,
  'normal': 500,
  'semi-bold': 600,
  'bold': 700,
);

$font-sizes: (
  'xl': 40px,
  'lg': 24px,
  'md': 20px,
  'base': 16px,
  'sm': 14px,
  'xs': 12px,
);

$breakpoints: (
  'mobile': 320px,
  'tablet': 768px,
  'mini': 1200,
  'desktop': 1440,
);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

@function fontSize($size) {
  @return map-get($font-sizes, $size);
}

@function device($size) {
  @return map-get($breakpoints, $size);
}
