@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$primary-color: #39cdcc;
$secondary-color: #213f7d;
$tertiary-color: rgba(57, 205, 204, 0.06);
$accent: #545f7d;
$light: #fff;
$grey-100: rgba(84, 95, 125, 0.15);
$grey-200: rgba(0, 0, 0, 0.04);
$error: #e11900;

// Fonts
$secondary-font: 'Work Sans', sans-serif;

$font-weights: (
  'light': 300,
  'regular': 400,
  'normal': 500,
  'semi-bold': 600,
  'bold': 700,
);

// Font sizes
$font-sizes: (
  'xl': 40px,
  'lg': 24px,
  'md': 20px,
  'base': 16px,
  'sm': 14px,
  'xs': 12px,
);

// Break Points

$mobile: 320px;
$tablet: 768px;
$mini: 1024px;
$desktop: 1440px;

// Shadows
$shadow-primary: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);

@function fontWeight($weight) {
  @return map-get($font-weights, $weight);
}

@function fontSize($size) {
  @return map-get($font-sizes, $size);
}
