@import '../../styles/mixins';
@import '../../styles/variables';
.layout__container {
  @include flexItem;
  .layout__main__content {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    margin-right: 30px;
    margin-top: 130px;
    .layout__main {
    }
  }
}
