@import '../../../styles/mixins';
@import '../../../styles/variables';

.mobileNav {
  @include flexBetween('column');
  position: fixed;
  top: 0;
  padding: 32px 0;
  width: 300px;
  z-index: 50;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  background-color: $light;
  z-index: 400;
  display: none;
  height: 100%;

  @include device($mini) {
    display: block;
  }
  .dash__container {
    margin-bottom: 30px;
  }
  .mobile__nav__logo {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.link__heading {
  font-weight: fontWeight('normal');
  text-transform: uppercase;
  font-size: fontSize('xs');
  margin-bottom: 10px;
  padding-left: 32px;
}

.link__divider {
  margin-bottom: 20px;
}

.isOpen {
  left: 0;
}
.isClosed {
  left: -32rem;
}
.logout {
  display: flex;
  align-items: center;
  font-family: $secondary-font;
  font-weight: fontWeight('light');
  cursor: pointer;
  color: $secondary-color;
  transition: all 0.3s ease-out;
  padding: 14px 30px;
  & > div:nth-child(2) {
    margin-left: 10px;
  }
}
.over__lay {
  height: 100%;
  width: 100%;
  z-index: 301;
  background-color: $tertiary-color;
  position: fixed;
  left: 0;
  bottom: 0;

  .close__icon {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
