@import '../../../styles/mixins';

.mobileNav {
  @include flexBetween('column');
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 32px 16px;
  width: 160px;
  z-index: 50;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;

  @include device('mobile') {
    width: 384px;
  }
}

.isOpen {
  left: 0;
}
.isClosed {
  left: 32rem;
}
