@import '../../../../styles//mixins';
@import '../../../../styles/variables';

.user__profile {
  font-family: $secondary-font;
  .profile__header {
    @include flexBetween('row');
    padding: 32px 0px;
    padding-bottom: 20px;
    h2 {
      font-size: fontSize('lg');
      color: $secondary-color;
      font-weight: fontWeight('normal');
    }
    .profile__cta {
      & > :nth-child(2) {
        margin-left: 10px;
      }
    }
  }
  .profile__card {
    box-shadow: $shadow-primary;
    padding: 30px 30px;
    padding-bottom: 0px;
    background-color: $light;
    // max-width: 1000px;
    .profile__menu {
      @include flexItem;
      margin-bottom: 50px;
      .profile__name {
        @include flexItem;
        padding-right: 30px;
        .name {
          padding-left: 30px;
        }
        // .avatar {
        //   height: 100px;
        //   width: 100px;
        //   border-radius: 100%;
        //   background-color: rgba(33, 63, 125, 0.16);
        //   @include flexCenter('row');
        // }
        h3 {
          font-size: 22px;
          font-weight: fontWeight('normal');
          color: $secondary-color;
        }
        p {
          font-size: fontSize('sm');
        }
      }
      .tier {
        font-size: fontSize('sm');
        padding-right: 30px;
        padding-left: 30px;
        border-right: 1px solid $grey-200;
        border-left: 1px solid $grey-200;
      }
      .balance__bank {
        padding-left: 30px;
        h2 {
          font-size: 22px;
          font-weight: fontWeight('normal');
          color: $secondary-color;
        }
        p {
          font-size: fontSize('xs');
        }
      }
    }
  }

  .tabs__list {
    background-color: $light;
    margin-top: -3rem;
    .tabs {
      font-family: $secondary-font;
    }
    .tabs[data-state='active'] {
      color: $primary-color;
      &::before {
        background-color: $primary-color;
      }
    }
  }
}

.info__container {
  margin-top: 30px;
  // max-width: 1000px;
  h2 {
    font-size: fontSize('base');
    font-weight: fontWeight('normal');
    color: $secondary-color;
    margin-bottom: 30px;
  }
  .info__main {
    margin-bottom: 30px;
    border-bottom: 1px solid $grey-200;
    padding-bottom: 30px;
    .info__data {
      @include grid(4, 1fr);
      gap: 30px;
      .info__data__item {
        h3 {
          font-size: fontSize('xs');
          font-weight: fontWeight('regular');
          color: $secondary-color;
          text-transform: uppercase;
        }
      }
    }
  }
}
