@import './styles/variables';
@import './styles/mixins';

html {
  font-family: 'Poppins', system-ui, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #fbfbfb;
    ::-webkit-scrollbar {
      width: 0;
      /* Remove scrollbar space */
      background: transparent;
      /* Optional: just make scrollbar invisible */
    }
    .Toastify__toast-theme--light {
      font-size: 12px;
    }
    .container {
      max-width: 90%;
      margin: auto;
    }
    .text-primary {
      color: $primary-color;
      font-size: 30px;
    }

    .card-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }
  }
}
